.creactions {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.creation {
  display: flex;
  flex-direction: row;
  margin: 1rem 20%;
  justify-content: space-between;
}
.creation--horizental {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
}

.creation--vertical {
  display: flex;
  flex-direction: column;
  width: 48%;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
}

.creation__title {
  color: var(--dark-green);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.creation__item {
  width: 80%;
}

.creation__item__img {
  width: 100%;
  /* height: 100%; */
  /* margin: 0.5rem auto; */
  background-color: tomato;
}

@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 768px) {
  .creation {
    margin: 1rem 10%;
    flex-wrap: wrap;
  }
  .creation--vertical {
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
  }
  .creation--vertical:last-child {
    margin-bottom: 0;
  }
}
